@import "reset.css";

:root {
  --clr-text: hsl(25, 20%, 10%);
  --clr-body: hsl(36, 34%, 95%);
  --clr-background: hsl(0, 0%, 100%);
  --clr-primary: hsl(4, 74%, 55%);
  --clr-secondary: hsl(122, 30%, 40%);
  --clr-accent: hsl(45, 90%, 60%);

  --clr-success: hsl(120, 60%, 50%);
  --clr-error: hsl(0, 80%, 50%);

  --ff-base: 'Lora', serif;
  --ff-accent: 'Quattrocento', serif;

  --fw-regular: 400;
  --fw-semi-bold: 700;
  --fw-bold: 900;

  --fs-100: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --fs-200: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --fs-300: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --fs-400: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --fs-500: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --fs-600: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --fs-700: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --fs-800: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}


body {
  color: var(--clr-text);
  background-color: var(--clr-body);
  font-family: var(--ff-base, 'system-ui, sans-serif');
  font-size: var(--fs-200, 1rem);
  line-height: 1.6;
  min-height: 100vh;
  min-height: 100dvh;

}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: calc(100% - 20rem);
  margin-inline: auto;
}

section {
  padding-block: 6rem;
}

img {
  border-radius: 1rem;
}


/* use this to separate headings and paragraphs */
.flow>*+* {
  margin-top: var(--flow-space, 1em);
}


h1 {
  --flow-space: 2em;

  font-size: var(--fs-700);
  color: var(--clr-primary);
}

h2 {
  --flow-space: 1.5em;

  font-size: var(--fs-600);
  color: var(--clr-secondary);
}

h3 {
  --flow-space: 1.125em;

  font-size: var(--fs-500);
  color: var(--clr-text);
}

p {
  font-size: var(--fs-400);
}

.grid {
  display: grid;
}

/* header */
header {
  color: var(--clr-primary);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-family: var(--ff-accent);
}

.logo-wrapper {
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);

  & img {
    width: 3rem;
    height: auto;
  }
}

/* nav */
nav {
  display: flex;
  gap: 2rem;



  & button {
    position: relative;
    background: transparent;
    border: none;
    color: var(--clr-text);
    cursor: pointer;
    font-size: var(--fs-400);
    padding: 0.25em 0;
    transition: color 0.2s;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: var(--clr-primary);
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
      color: var(--clr-primary);
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }

  }
}

/* home */
.home {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));


  & div {
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

}

/* favourites */
.centered-grid {
  justify-content: center;
  gap: 2rem;

  & div {
    text-align: center;
  }
}

.products {
  gap: 3rem;
  grid-template-columns:repeat(auto-fit, minmax(min(25rem, 100%), 1fr));

  & img {
    width: 90vw;
  }
}

/* menu */
.cards-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.card {
  width: fit-content;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid var(--clr-text);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;

  & img {
    width: 20ch;
    height: auto;
    justify-self: center;
  }

  &:hover {
    background: var(--clr-accent);
    transform: translateY(-5px);
  }
}

/* footer */
footer {
  padding-block: 1rem;
  margin-bottom:0;
  text-align: center;
}